.article-details a{
    text-decoration: none;
}

.like-btn{
    padding: 5px;
    color: #f9b9f2;
    border: 2px solid #f9b9f2;
    cursor: pointer;
    float: right;
    transition: 0.3s;
}

.like-btn:hover{
    color: white;
    background-color: #f9b9f2;
}
