.tags .badge{
    font-size: 1rem;
    font-weight: normal;
    background-color: #4c5f6b;
    color: white;
    margin: 1px;
    cursor: pointer;
}

.tags .badge:hover{
    color: #4c5f6b;
    background-color: white;
    border: 1px solid #4c5f6b;
}